/*Stylowanie kalkulatora*/
.thinLine{
    border: 1px solid #d0c9c975;
    border-radius: 20px;
}

.home{
    box-shadow: inset white 0px 0px 10px -5px;
    border-radius: 20px;
    padding: 5px;
}

.dolar2 {
    background-color: #c6d3f7;
    box-shadow: 0px 5px 10px black;
    border-radius: 30px;
    font-size: 14px;
    letter-spacing: 1px;
}   

table{
    min-width: 260px;
}

.blueShadow {
    border-radius: 20px;
    box-shadow: inset 0px 20px 22px -13px #b4e6f5;
    letter-spacing: 0.15vw;
}

.moreSpace{
    padding: 10px;
    border-radius: 30px;
    letter-spacing: 0.1vw;
    box-shadow: 10px -5px 20px 10px #ffffff;
}

.polandWhite{
    padding: 10px;
    border-radius: 30px;
    letter-spacing: 0.1vw;
    box-shadow: inset 0px 0px 20px 5px #f7f3f3;
}

.polandRed {
    padding: 10px;
    border-radius: 30px;
    letter-spacing: 0.1vw;
    box-shadow: inset 0px 0px 15px 5px #f70000;
}

.germanyBlack{
    padding: 10px;
    border-radius: 30px;
    letter-spacing: 0.1vw;
    box-shadow: inset 0px 0px 20px 5px black;
}

.germanyRed{
    padding: 10px;
    border-radius: 30px;
    letter-spacing: 0.1vw;
    box-shadow: inset 0px 0px 20px 5px #f70000;
}

.germanyYellow{
    padding: 10px;
    border-radius: 30px;
    letter-spacing: 0.1vw;
    box-shadow: inset 5px -5px 20px 5px #ffc107;
}

input,
select {
    width: 100px;
    margin-right: 10px;
    border-radius: 10px;
    text-align: center;
}


/*Styling of main */

body {
    background-color: white;
    font-family: Geneva, Tahoma, sans-serif;
}

.header {
    background-image: url("../img/gt.jpg");
    background-repeat: no-repeat;
    background-attachment: scroll;
    background-position: top left;
    background-color: rgb(36, 32, 32);
    height: 150px;
    letter-spacing: 0.3rem;
}

.navbuttons{
    margin: 10px 20px 10px 20px;
    background-color: rgb(180, 50, 50);
    border-radius: 20px;
    box-shadow: 0px 0px 20px 2px white;
    letter-spacing: 0.7vw;
    text-align: center;
}
.active{
    margin: 10px 20px 10px 20px;
    background-color: rgb(180, 50, 50);
    border-radius: 20px;
    letter-spacing: 0.7vw;
    box-shadow: black 0px 0px 15px 1px;
    text-align: center;
}

.navbuttons:hover,
.home:hover{
    box-shadow: black 0px 0px 15px 1px;
}

.navbar{
    background-color:  rgb(180, 50, 50);
    border-radius: 0px 0px 20px 20px;
}

#close:hover {
    cursor: pointer;
}

.menu {
    width: 16vw;
    min-width: 110px;
    max-width: 230px;
    border-bottom: 1px solid white;
    border-radius: 0.5vw;
    letter-spacing: 0.7vw;
    text-align: center;
    line-height: 25px;
    box-shadow: 0px 0px 13px 2px white
}

a,
a:hover {
    text-decoration: none;
    color: white;
}

.footer{
    background-color: black;
    color: white;
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
    height: 50px;
}

#capricorn{
    text-align: center;
}
