<!DOCTYPE html>
<html lang="pl">

<head>
  <meta charset="utf-8">
  <meta name="description" content="Jak sprowadzić samochód z USA. Koszty sprowadzenia samochodu z USA.">
  <meta name="keywords" content="samochody, usa, stany zjednoczone, import, copart, sprowadzenie, oplaty sprowadzenia samochody z usa,">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <!--ładnie rozkłada stronę w zależności od rozdzielczości i ekranu-->
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T"
    crossorigin="anonymous">
  <meta name="robots" content="nofollow">
  <!--sprawie ze strona jest zapamietywana przez wyszukiwarke-->
  <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
  <!--sprawia ze jest wyswietlana w najnowszej wersji IE oraz najnowszej wersji wtyczki Chrome-->
  <meta http-equiv="pragma" content="no-cache">
  <!--zapobiega zapisywaniu strony na dysku-->
  <link type="text/css" rel="stylesheet" href="../css/calcStyles.css">
  <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js" defer="defer"></script>
  <script src="../js/vueapp.js" defer="defer"></script>
  <!--<script src="../js/add-content.js" defer="defer"></script>-->
  <title>Import Samochodu z USA</title>
</head>

<body>
  <div id="app">
    <div class="container p-0">
      <div class=" row, header">
        <div class="col, text-white text-right">
          <h2>Import samochodu z USA</h1>
        </div>
        <div class="col text-white text-center my-5">
          <a class="home" href="../index.html">Strona Główna</a>
        </div>
        <!--Logo-->
      </div>
      <!--header-->
      <div class="row, navbar">
        <div class="col navbuttons"><a href="Projekty.html">
            Projekty</a>
        </div>
        <div class="col present"><a href="Kalkulator.html">
            Kalkulator</a>
        </div>
        <div class="col navbuttons"><a href="Tracking.html">
            Śledzenie</a>
        </div>
        <div class="col navbuttons"><a href="Kontakt.html">
            Kontakt</a>
        </div>
      </div>
    </div>
    <!-- End Of Navigation-->
    <!--Column with Four rows-->
    <div class="container mt-2 mx-auto">
      <div class="row thinLine">
        <div class="col">
          <div class="row w-75 mx-auto border border-primary bg-light rounded-pill my-3 py-1 justify-content-center">
            <span class="mr-3 my-auto">Aktualny Kurs Dolara</span>
            <select id="loopRate" type="number" v-model="currencyRate" abbr title="Cena za którą został wylicytowany samochód">
              <option id="rate"></option>
            </select>
          </div>
          <div class="row w-75 mx-auto border border-primary bg-light rounded-pill my-3 py-1 justify-content-center">
            <span class="mr-3 my-auto">Cena Licytacji $</span>
            <select id="loopPrice" type="number" v-model="price" abbr title="Cena za którą został wylicytowany samochód">
            </select>
          </div>
          <div class="row w-75 mx-auto border border-primary bg-light rounded-pill my-3 py-1 justify-content-center">
            <span class="mr-3">Wartość Rynkowa w PLN</span>
            <select id="loopMarketPrice" type="number" v-model="marketPrice" abbr title="Kwota tutaj podana to wartosc rynkowa samochodu np. z Otomoto.
            Ta kwota jest niezbędna do obliczenia akcyzy.
            Szczególnie przy samochodach o silnikach powyżej 2000 ccm3">
            </select>
          </div>
          <div class="row w-75 rounded mx-auto">
            <div class="input-group mb-3">
              <div class="input-group-prepend">
                <label class="input-group-text bg-info text-white" for="dropdown">W którym stanie jest licytacja ?</label>
              </div>
              <select class="custom-select" id="dropdown" v-model="placeOfOrigin">
                <option value="800">AL - Alabama</option>
                <option value="NOT">AK - Alaska</option>
                <option value="1200">AZ - Arizona</option>
                <option value="900">AR - Arkansas</option>
                <option value="1200">CA - Caifornia</option>
                <option value="1000">CO - Colorado</option>
                <option value="800">CT - Connecticut</option>
                <option value="600">DE - Delaware</option>
                <option value="800">FL - Florida</option>
                <option value="800">GA - Georgia</option>
                <option value="NO">HI - Hawaii</option>
                <option value="1500">ID - Idaho</option>
                <option value="800">IL - Illinois</option>
                <option value="800">IN - Indiana</option>
                <option value="900">IA - Iowa</option>
                <option value="900">KS - Kansas</option>
                <option value="800">KY - Kentucky</option>
                <option value="900">LA - Louisiana</option>
                <option value="800">ME - Maine</option>
                <option value="600">MD - Meryland</option>
                <option value="800">MA - Massachusetts</option>
                <option value="800">MI - Michigan</option>
                <option value="1000">MN - Minesota</option>
                <option value="800">MS - Mississippi</option>
                <option value="900">MO - Missouri</option>
                <option value="1500">MT - Montana</option>
                <option value="1000">NE - Nebraska</option>
                <option value="1200">NV - Nevada</option>
                <option value="800">NH - New Hampshire</option>
                <option value="600">NJ - New Jersey</option>
                <option value="1000">NM - New Mexico</option>
                <option value="600">NY - New York</option>
                <option value="600">NC - North Carolina</option>
                <option value="1000">ND - North Dakota</option>
                <option value="600">OH - Ohio</option>
                <option value="900">OK - Oklahoma</option>
                <option value="1500">OR - Oregon</option>
                <option value="600">PA - Pennsylvania</option>
                <option value="800">RI - Rhode Island</option>
                <option value="600">SC - South California</option>
                <option value="1000">SD - South Dakota</option>
                <option value="800">TN - Tennessee</option>
                <option value="900">TX - Texas</option>
                <option value="1200">UT - Utah</option>
                <option value="800">VT - Vermont</option>
                <option value="600">VA - Virginia</option>
                <option value="1500">WA - Washington</option>
                <option value="600">WV - West Virginia</option>
                <option value="900">WI - Wisconsin</option>
                <option value="1000">WY - Wyoming</option>
              </select>
            </div>
          </div>
        </div>
      </div>
      <!--End of column with Four rows-->

      <!--row for two column-->
      <div class="row text-center thinLine my-2">
        <!--First column-->
        <div class="col blueShadow greyBackground">
          <table class="row blueShadow w-75 justify-content-center mx-auto my-3">
            <tr>
              <th class="font-weight-normal text-danger polandWhite" colspan="3">CENA SAMOCHODU PO OPŁATACH W POLSCE</th>
            </tr>
            <tr>
              <td class="polandWhite" colspan="3">Przez Gdynie [PLN]</td>
            </tr>
            <tr>
              <td class="polandRed" colspan="2">Silnik < 2000 ccm<sup>3</sup><br /></td>
              <td class="polandRed">{{ engineSmallPoland }}</td>
            </tr>
            <tr>
              <td class="polandRed" colspan="2">Silnik > 2000 ccm<sup>3</sup><br /></td>
              <td class="polandRed">{{ engineBigPoland }}</td>
            </tr>
            <tr>
              <td colspan="3"><br /></td>
            </tr>
          </table>
          <table class="row blueShadow w-75 justify-content-center mx-auto my-3">
            <tr>
              <th class="font-weight-normal p-2 text-danger" colspan="3">CENA SAMOCHODU PO OPŁATACH W POLSCE</th>
            </tr>
            <tr>
              <td class="germanyBlack" colspan="3">Przez Bremerhaven [PLN]</td>
            </tr>
            <tr>
              <td class="germanyRed" colspan="2">Silnik < 2000 ccm<sup>3</sup></td>
              <td class="germanyRed">{{ engineSmallGermany }}</td>
            </tr>
            <tr>
              <td class="germanyYellow" colspan="2">Silnik > 2000 ccm<sup>3</sup></td>
              <td class="germanyYellow">{{ engineBigGermany }}</td>
            </tr>
            <tr>
              <td colspan="3"><br /></td>
            </tr>
          </table>
        </div>

        <!--Second column-->
        <div class="col">
          <table class="dolar2 mx-auto my-3">
            <tr>
              <th class="text-danger font-weight-bold moreSpace" colspan="2">Koszty Szczegółowe</th>
            </tr>
            <tr>
              <td class="moreSpace">Prowizja Copart/Iaai</td>
              <td class="moreSpace"> {{ copartCharges }} [USD]</td>
            </tr>
            <tr>
              <td class="moreSpace">Transport Do NY</td>
              <td class="moreSpace">{{ priceToNewYork }} [USD]</td>
            </tr>
            <tr>
              <td class="moreSpace">Kontener do Gdyni</td>
              <td class="moreSpace">800 [USD]</td>
            </tr>
            <tr>
              <td class="moreSpace">Kontener do Bremerhaven</td>
              <td class="moreSpace">700 [USD]</td>
            </tr>
            <tr>
              <td class="moreSpace">Transport z Bremerhaven do Polski</td>
              <td class="moreSpace">1200 [PLN]</td>
            </tr>
            <tr>
              <td class="moreSpace">Cło 10% Polska</td>
              <td class="moreSpace">{{ customTaxPoland }} [PLN]</td>
            </tr>
            <tr>
              <td class="moreSpace">Cło 10% Niemcy</td>
              <td class="moreSpace">{{ customTaxGermany }} [PLN]</td>
            </tr>
            <tr>
              <td class="moreSpace">Vat Polska 23%</td>
              <td class="moreSpace">{{ vatTaxPoland }} [PLN]</td>
            </tr>
            <tr>
              <td class="moreSpace">Vat Niemcy 19% </td>
              <td class="moreSpace">{{ vatTaxGermany }} [PLN]</td>
            </tr>
            <tr>
              <td class="moreSpace">Akcyza 3.1%</td>
              <td class="moreSpace">{{ smallEngineTax }} [PLN]</td>
            </tr>
            <tr>
              <td class="moreSpace">Akcyza 18.6% </td>
              <td class="moreSpace">{{ bigEngineTax }} [PLN]</td>
            </tr>
            <tr>
              <td class="moreSpace">Agencja Celna PL</td>
              <td class="moreSpace">1500 [PLN]</td>
            </tr>
            <tr>
              <td class="moreSpace">Agencja Celna DE</td>
              <td class="moreSpace">2500 [PLN]</td>
            </tr>
          </table>
        </div>
      </div>
      <!--End Of Row With Two Columns-->
      <div class="row footer justify-content-center">
        <p class="mt-4">Daniel Marszałek &copy;</p>
      </div>
      <!--end of div Footer-->
    </div>
    <!--End Of The Container-->
  </div>
  <!--End Of App-->
  <script src="http://code.jquery.com/jquery-3.3.1.js" integrity="sha256-2Kok7MbOyxpgUVvAk/HJ2jigOSYS2auK4Pfzbm7uH60="
    crossorigin="anonymous"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1"
    crossorigin="anonymous"></script>
  <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM"
    crossorigin="anonymous"></script>
</body>

</html>